

nav, h1{
    font-family: 'Acme', sans-serif;

}

nav{
    font-size: 1.5em;
    
   
}

nav a{
    color: #f16043;
}

main{
    text-align: center;
    margin: 1.2em;
}

a{
    text-decoration: none;
}

.loginForm{
    flex: 1;
    margin: 3vw;
    /* border: 1px solid black; */
    border-radius: 50px;
    align-self: center;
}

.home-cards{
    display: flex;
    margin: 4%;
    text-align: center;
}

.home-card{
    margin: 10px auto;
    
    border-radius: 5px;
    box-shadow: 5px 5px 9px 3px #cfcfcf;

}

.home-card a{
    text-decoration: none;
    color: black;
}

.home-card h2{
    font-size: 2rem;
    font-family: 'Acme', sans-serif;
    color : #f16043;
}

.home-card h3{
    font-size: 1rem;
    
}

.card--contents{
    display: flex;
    flex-direction: column;
}

.welcome-text{
    margin: 5vh;
}

.button-quiz{
    border: none;
    background-color: #dac772;
    color: white;
}
